<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="{{ url_for("static", filename="css/_base.css") }}">
    {% block stylesheets %}{% endblock %}
    {% block scripts %}{% endblock %}
</head>
<header>
    <nav>
        <ul>
            <li><a href="{{ url_for("info.home") }}">Home</a></li>
            <li><a href="{{ url_for("info.about") }}">About</a></li>
            <li><a href="{{ url_for("info.contact") }}">Contact</a></li>
        </ul>
    </nav>
</header>
<body>

</body>
</html>